.main {
	.__form {
		.--wrapper {
			@media (width > 768px) {
				display: flex;
				align-items: center;
				gap: 1.6rem;
			}
		}

		.__field {
			display: flex;
			flex-direction: column;
			gap: 8px;
			margin-bottom: 16px;

			@media (width > 768px) {
				width: 50%;
			}

			.__input {
				height: 40px;
				padding-left: 8px;
				border: 1px solid white;
				border-radius: 5px;
				background-color: transparent;

				&.--select {
					cursor: pointer;

					.__option {
						background-color: black;
					}
				}
			}

			.__input:focus {
				border: none;
				outline: 1px solid rgb(219, 198, 60);
			}
		}
	}
}
