* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: url("https://images4.alphacoders.com/130/1308100.jpeg") fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: cursive;
}
button {
	border: none;
}

.__pages {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 700px;
	margin-inline: auto;
	padding-block: 2.5rem;
	padding-inline: 1.6rem;
	background-color: rgba(0, 0, 0, 0.8);
	visibility: hidden;
	transition: all 0.5s ease-in;
	opacity: 0;
	border-radius: 10px;

	&.--visible {
		visibility: visible;
		opacity: 1;
	}

	.__heading {
		text-align: center;
	}
}

.__results-page {
	.__results-content {
		.__main-container {
			display: flex;
			align-items: center;
			gap: 1.6rem;
			padding-block: 2rem;

			.__image {
				width: 50%;
				max-width: 250px;
				margin-inline: auto;
				.__preview {
					width: 100%;
					border-radius: 2rem;
					object-fit: cover;
				}
			}

			.__texts {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				width: 50%;

				.__patronus {
					display: none;
					transition: all 0.5s ease-in;
					opacity: 0;

					&.--appear {
						display: block;
						opacity: 1;
					}
				}
			}
		}
	}
	.__buttons {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;

		@media (width > 768px) {
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
}

.__modal-window {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 50rem;
	padding: 16px;
	border-radius: 10px;
	background-color: white;
	visibility: hidden;
	transition: all 0.125s ease-in;
	opacity: 0;

	&.--visible {
		visibility: visible;
		opacity: 1;
	}

	.__text {
		margin-bottom: 2rem;
		text-align: center;
		color: black;
	}
}

.__layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	transition: all 0.125s ease-in;
	opacity: 0;

	&.--visible {
		visibility: visible;
		opacity: 1;
	}
}
