* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: url("https://images4.alphacoders.com/130/1308100.jpeg") fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: cursive;
}
button {
	border: none;
}

.main {
	max-width: 400px;
	margin-inline: auto;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;

	.__heading {
		margin-top: 5rem;
		text-align: center;
	}

	.__form-response {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 16px;
		border-radius: 10px;
		background-color: white;
		visibility: hidden;
		transition: all 0.5s ease-in;
		opacity: 0;

		&.--visible {
			visibility: visible;
			opacity: 1;
		}

		.text-body--1 {
			color: black;
		}
	}
}
